<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Menu</h1>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="container">
  <% @courses.each do |course| %>
    <div class= "col-md-4">
      <div class="padding">
      <%= link_to 'add item to '+"#{course.name}", new_dish_path(:course_id => course.id), class: "btn btn-default" %>
      <%= image_tag asset_url("#{course.name.downcase}.png", class: "img-rounded") %>
      <%= content_tag(:h2, course.name)%>
      <% course.dishes.each do |dish| %>
      <%= content_tag(:h4, dish.name) %>
      <ul>
        <p>Price: <%= dish.price %></p>
        <p>Description: <%= dish.description %></p>
      </ul>
      </div>
    </div>
    <% end %>
  <% end %>

</div>
